* { 
    box-sizing: border-box; 
}

body    {
    display: grid;
    grid-template-areas:
      'top' 
      'hero'
      'buttons'
      'upcoming'
      'foot';
      min-width: 400px;
}

header { 
    grid-area: top;
}
#hero { 
    grid-area: 'hero';
}
section#buttons { 
    grid-area: 'buttons';
}
section#upcoming {
    grid-area: 'upcoming';
}
footer {
    grid-area: 'foot';
  }




#logo {
    grid-area: top;
    display: flex;
    width: 80px;
    margin: 15px 0 5px 25px;
}


ul {
    grid-area: 'top';
    display: flex;
    position: absolute;
    list-style-type: none;
    right: 20px;
    top: 37px;
    
}

#homeD, #shoppingD, #emailD {
    height: 35px;
}

#homeD {
    display: flex;
    left: 260px;
    top: 25px;
    position: fixed;
    border-bottom: 30px black;
    
    
}

#shoppingD {
    display: flex;
    left: 320px;
    top: 25px;
    position: fixed;
}

#emailD {
    display: flex;
    left: 380px;
    top: 25px;
    position: fixed;
}

#headerdivide    { 
    grid-area: top;
    display: block;
    height: 3px;
    background-color: #703F12;
    top: 89px
    
}


#homeHP {
    grid-area: 'hero';
    display: block;
    height: auto;
    max-width: 480px;
}

#homeR, #homeL ,#homeH {
    display: none
}

@font-face {
    font-family: "Raleway";
    src: url("./media/fonts/Raleway_variations/Raleway-Light.ttf") format("truetype");
}

h1, h2  {
    font-family: 'Raleway', sans-serif; 
    font-size: 36px;
    text-align: center;
    margin-top: 5%;
}

#women, #men {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    width: 300px;
    height: 100px;
}

#women {
    background-color: #B35600;
}

#men {
    background-color: #0D87A6;
}




footer  {
    
    background: rgba(32, 104, 122, 0.42);
}

p   {
    margin-left: 20%;
    padding-top: 15px;
}

@media (min-width: 481px) {
    #logo {
        grid-area: top;
        display: flex;
        width: 274px;
        margin: 25px 0 5px 35px;
    }

    ul {
        grid-area: 'top';
        display: flex;
        position: absolute;
        justify-content: flex-end;
        list-style-type: none;
        right: 20px;
        top: 20px;
    }

    #homeD, #shoppingD, #emailD {
        margin: 35px 25% 0 0;
    }

    #headerdivide    { 
        grid-area: top;
        display: block;
        height: 3px;
        background-color: #703F12;
        
    }

    #homeH {
        grid-area: 'hero';
        display: inline-flex;
        height: auto;
        line-height: 0;
        
        
    }
    
    
    #homeR, #homeL {
        grid-area: 'hero';
        display: inline-flex;
        line-height: 0;
        
        height: 1310px;
        
    }
}