* { 
    box-sizing: border-box; 
}

body    {
    display: grid;
    grid-template-areas:
      'top' 
      'hero'
      'buttons'
      'upcoming'
      'foot';
      min-width: 400px;
      grid-template-areas:  "top"
                            "hero"
                            "buttons"
                            "upcoming"
                            "foot"
                            ;
}



header { 
    grid-area: top;
}
#hero { 
    grid-area: 'hero';
}
section#buttons { 
    grid-area: 'buttons';
}
section#upcoming {
    grid-area: 'upcoming';
}
footer {
    grid-area: 'foot';
  }


#logo {
    display: flex;
    width: 80px;
    margin: 15px 0 5px 25px;
}


ul {
    list-style-type: none;
}

#homeD, #shoppingD, #emailD {
    height: 35px;
    display: flex;
    top: 25px;
    position: absolute
}

#homeD {
    left: 280px;
}

#shoppingD {
    left: 340px;
}

#emailD {
    left: 400px;
}

#headerdivide    { 
    display: block;
    height: 3px;
    background-color: #703F12;
    top: 89px
    
}


#homeHP {
    width: 100%;
    left: 0px;
    top: 94px;
}

#homeR, #homeL ,#homeH {
    display: none
}

@font-face {
    font-family: "Raleway";
    src: url("./media/fonts/Raleway_variations/Raleway-Light.ttf") format("truetype");
}

h1, h2  {
    font-family: 'Raleway', sans-serif; 
    font-size: 36px;
    text-align: center;
}

h1 {
    margin-top: 5%;
}

h2 {
    margin-top: 12%;
}

#women, #men {
    position: absolute;
    flex-direction: row;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 120px;
    height: 40px;
    margin: 90px 0 25px 0;
}

#women {
    background-color: #B35600;
    left: 15%;
    top: 474px
}

#men {
    background-color: #0D87A6;
    right: 15%;
    top: 474px;
}

#upcoming1, #upcoming2 {
    height: 148px;
    display: flex;
    border: black;
    position: absolute;
    flex-direction: row;
}

#upcoming1 {
    left: 15%;
}

#upcoming2 {
    right: 15%;
}

footer  {
    position: absolute;
    display: flex;
    background: rgba(32, 104, 122, 0.42);
    height: 55px;
    width: 100%;
    top: 890px;
}

p   {
    display: flex;
    
    justify-content: center;
    padding-top: 5px;
    
}

@media (min-width: 481px) {
    
    body    {
        display: grid;
        grid-template-areas:
          'top' 
          'hero'
          'side'
          'buttons'
          'upcoming'
          'foot';
          min-width: 400px;
          grid-template-areas:  "top"
                                "side hero side"
                                "side buttons side"
                                "side upcoming side"
                                "foot"
                                ;
    }
    
    
    
    #side {
        grid-area: 'side';
    }
    

    #logo {
        display: flex;
        width: 274px;
        margin: 25px 0 5px 35px;
    }

    ul {
        list-style-type: none;
    }
    
    #homeD, #shoppingD, #emailD {
        height: 48px;
        display: flex;
        top: 75px;
        position: absolute
    }
    
    #homeD {
        left: 1450px;
    }
    
    #shoppingD {
        left: 1600px;
    }
    
    #emailD {
        left: 1750px;
    }

    #headerdivide    { 
        display: block;
        height: 3px;
        background-color: #703F12;
        
    }

    #homeH {
        display: flex;
        position: absolute;
        height: 598px;
        left: 323px;
    }
    
    #homeR, #homeL {
        display: inline-flex;
        line-height: 0;
        position: absolute;
        height: 1310px;
    }

    #homeR {
        right: 0%;
    }

    #homeL {
        left: 0%;
    }

    #homeHP {
        display: none;
    }

    #buttons, #upcoming {
        align-items: center;
    }

    h1, h2  {
        justify-content: center;
        display: flex;
        position: absolute;
        font-family: 'Raleway', sans-serif; 
        font-size: 36px;
    }
    
    h1 {
        
        top: 820px;
    }
    
    h2 {
        top: 950px;
    }

    #women, #men {
        position: absolute;
        flex-direction: row;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        font-size: 36px;
        width: 250px;
        height: 80px;
        top: 940px;
    }

    #women {
        background-color: #B35600;
        left: 23%;
    }
    
    #men {
        background-color: #0D87A6;
        right: 23%;
    }
    
    #upcoming1, #upcoming2 {
        position: absolute;
        height: 148px;
        display: flex;
        top: 1300px;
    }
    
    #upcoming1 {
        left: 35%;
    }
    
    #upcoming2 {
        right: 35%;
    }
    
    footer  {
        position: absolute;
        height: 50px;
        left: 0px;
        top: 1518px;
        background: rgba(32, 104, 122, 0.42);
    }
    
    p   {
        padding: 5px 0 0 210px;
        display: flex;
        flex-direction: column;
    }
    
}