* { 
    box-sizing: border-box; 
}

body    {
    display: grid;
    grid-template-areas:
      'top' 
      'hero'
      'buttons'
      'upcoming'
      'foot';
      min-width: 400px;
      grid-template-areas:  "top"
                            "hero"
                            "buttons"
                            "upcoming"
                            "foot"
                            ;
}



header { 
    grid-area: top;
}
#hero { 
    grid-area: 'hero';
}
section#buttons { 
    grid-area: 'buttons';
}
section#upcoming {
    grid-area: 'upcoming';
}
footer {
    grid-area: 'foot';
  }




#logo {
    grid-area: top;
    display: flex;
    width: 80px;
    margin: 15px 0 5px 25px;
}


ul {
    list-style-type: none;
}

#homeD, #shoppingD, #emailD {
    height: 35px;
    grid-area: 'top';
    display: flex;
    top: 25px;
    position: absolute
}

#homeD {
    left: 280px;
}

#shoppingD {
    left: 340px;
}

#emailD {
    left: 400px;
}

#headerdivide    { 
    grid-area: top;
    display: block;
    height: 3px;
    background-color: #703F12;
    top: 89px
    
}


#homeHP {
    grid-area: 'hero';
    width: 100%;
    left: 0px;
    top: 94px;
}

#homeR, #homeL ,#homeH {
    grid-area: 'hero';
    display: none
}

@font-face {
    font-family: "Raleway";
    src: url("./media/fonts/Raleway_variations/Raleway-Light.ttf") format("truetype");
}

h1, h2  {
    font-family: 'Raleway', sans-serif; 
    font-size: 36px;
    text-align: center;
}

h1 {
    grid-area: 'buttons';
    margin-top: 5%;
}

h2 {
    grid-area: 'upcoming';
    margin-top: 12%;
}

#women, #men {
    grid-area: 'buttons';
    position: absolute;
    flex-direction: row;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    width: 120px;
    height: 40px;
    margin: 90px 0 25px 0;
}

#women {
    background-color: #B35600;
    left: 15%;
    top: 474px
}

#men {
    background-color: #0D87A6;
    right: 15%;
    top: 474px;
}

#upcoming1, #upcoming2 {
    grid-area: 'upcoming';
    height: 148px;
    display: flex;
    border: black;
    position: absolute;
    flex-direction: row;
}

#upcoming1 {
    left: 15%;
}

#upcoming2 {
    right: 15%;
}

footer  {
    grid-area: 'foot';
    position: absolute;
    display: flex;
    background: rgba(32, 104, 122, 0.42);
    height: 95px;
    width: 100%;
    top: 890px;
}

p   {
    margin-left: 5%;
    padding-top: 5px;
    
}

@media (min-width: 481px) {
    #logo {
        grid-area: top;
        display: flex;
        width: 274px;
        margin: 25px 0 5px 35px;
    }

    ul {
        grid-area: 'top';
        display: flex;
        position: absolute;
        justify-content: flex-end;
        list-style-type: none;
        right: 20px;
        top: 20px;
    }

    #homeD, #shoppingD, #emailD {
        margin: 35px 25% 0 0;
    }

    #headerdivide    { 
        grid-area: top;
        display: block;
        height: 3px;
        background-color: #703F12;
        
    }

    #homeH {
        grid-area: 'hero';
        display: inline-flex;
        height: auto;
        line-height: 0;
        
        
    }
    
    
    #homeR, #homeL {
        grid-area: 'hero';
        display: inline-flex;
        line-height: 0;
        
        height: 1310px;
        
    }

    #homeHP {
        grid-area: 'hero';
        display: none;
    }

    #women, #men {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-family: 'Raleway', sans-serif;
        font-size: 36px;
        width: 300px;
        height: 100px;
    }

    #women {
        background-color: #B35600;
        left: 15%;
        top: 474px
    }
    
    #men {
        background-color: #0D87A6;
        right: 15%;
        top: 474px;
    }
    
    #upcoming1, #upcoming2 {
        grid-area: 'upcoming';
        height: 148px;
        /*display: flex;*/
    }
    
    #upcoming1 {
        left: 15%;
    }
    
    #upcoming2 {
        right: 15%;
    }
    
    footer  {
        
        background: rgba(32, 104, 122, 0.42);
    }
    
    p   {
        margin-left: 20%;
        padding-top: 15px;
    }
    
}