* { 
    box-sizing: border-box; 
}

body    {
    display: grid;
    grid-template-areas:
      'top' 
      'hero'
      'buttons'
      'upcoming'
      'foot';
      min-width: 400px;
}

header { 
    grid-area: top;
    position: absolute;
}
#hero { 
    grid-area: 'hero';
}
section#buttons { 
    grid-area: 'buttons';
}
section#upcoming {
    grid-area: 'upcoming';
}
footer {
    grid-area: 'foot';
  }

header { 
    grid-area: 'top';
    position: relative; 
    }



#logo {
    grid-area: top;
    display: flex;
    position: absolute;
    width: 274px;
    left: 45px;
    top: 36px;
}


ul {
    grid-area: 'top';
    display: flex;
    position: absolute;
    justify-content: flex-end;
    right: 20px;
    top: 20px;
    list-style-type: none;
}

#headerdivide    { 
    grid-area: top;
    display: block;
    height: 3px;
    background-color: #703F12;
    margin: 0;
}


#homeHP {
    grid-area: 'hero';
    display: block;
    height: auto;
    max-width: 480px;
}

@font-face {
    font-family: "Raleway";
    src: url("./media/fonts/Raleway_variations/Raleway-Light.ttf") format("truetype");
}

h1, h2  {
    font-family: 'Raleway', sans-serif; 
    font-size: 36px;
    text-align: center;
    margin-top: 5%;
}

#women, #men {
    display : flex ;
    flex-direction : row ;
    justify-content : space-evenly ;
    font-family : 'Raleway', sans-serif ;
    font-size : 36px ;
    width : 300px ;
    height : 100px ;
}

#women {
    background-color: #B35600;
}

#men {
    background-color: #0D87A6;
}




footer  {
    
    background: rgba(32, 104, 122, 0.42);
}

p   {
    margin-left : 20% ;
    padding-top : 15px ;
}

@media (min-width : 481px) {

    #homeH {
        grid-area : 'hero' ;
        display : block ;
        height : auto ;
    }
    
    
    #homeR, #homeL {
        grid-area : 'hero' ;
        display : block ;
        margin : -5 0 ;
        height : 1310px ;
    }
}